<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Foreign Exchange System</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/static/css/bootstrap.css}" rel="stylesheets" type="text/css"/>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark mb-3">
            <a class="navbar-brand">FES</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link">Home</a></li>
                <li class="nav-item"><a class="nav-link">Privacy</a></li>
                <li class="nav-item"><a class="nav-link">About</a></li>
            </ul>
        </nav>
    </div>

    <button type="button" class="btn btn-primary">Chuj</button>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/resources/static/js/bootstrap.js"></script>
</body>
</html>