<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .btn-margin-left-right{
            margin-left: 2px;
            margin-right: 2px;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wallet</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>

<div class="container">
    <th:block th:include="fragments/header:: header"></th:block>

    <div class="jumbotron">
        <div class="container">
            <p class="mt-5" > Hejka <span th:text="${user.name}"></span>!</p>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/resources/static/js/bootstrap.js"></script>
</body>
</html>