<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .btn-margin-left-right{
            margin-left: 2px;
            margin-right: 2px;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wallet</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body>

<div class="container">
    <th:block th:include="fragments/header:: header"></th:block>


    <table>
        <tr>

            <td><h2>Total amount :  </h2></td>
            <td><h2 th:text="${total}"></h2></td>
            <td><h2>  €</h2></td>

        </tr>

    </table>

    <form action="#" th:action="@{/wallet/addEntry}" th:object="${wallet}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <table>

            <tr>

                <td>Value</td>
                <td>Currency</td>

            </tr>

            <td><input type="number" th:field="*{value}" step="0.01" /></td>
           <td> <select class="form-group mx-sm-3 mb-2" id="currency" name="currency">
               <option th:each="currency : ${currencies}"
                       th:text="${currency}" th:value="${currency}"></option>
           </select></td>
            <td><button type="submit" class="btn btn-success ">Add</button></td>
            <tr>


            </tr>


        </table>

    </form>


        <br>

    <form action="#" th:action="@{/wallet/subtract}" th:object="${wallet1}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <table>

            <tr>

                <td>Value</td>
                <td>Currency</td>

            </tr>

            <td><input type="number" th:field="*{value}" step="0.01" /></td>
            <td> <select class="form-group mx-sm-3 mb-2" id="currency1" name="currency1">
                <option th:each="currency : ${currencies1}"
                        th:text="${currency}" th:value="${currency}"></option>
            </select></td>
            <td><button type="submit" class="btn btn-danger ">Subtract</button></td>
            <tr>


            </tr>


        </table>

    </form>


    <br>





    <table class="table rable-bordered table-striped">
        <thead class="thead-dark">

        <tr>
            <th>Value</th>
            <th>Currency</th>
            <th>Delete entry</th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="entry : ${walletEntries}">

            <td th:text="${entry.value}" />
            <td th:text="${entry.waluta}" />
            <td><a
                    th:href="@{/wallet/deleteEntry(walletId=${entry.id})}"
                    class="btn btn-danger btn-sm"
                    onClick="if (! (confirm('Are you sure you want to delete this record'))) return false">
                Delete</a></td>


        </tr>
        </tbody>

    </table>





</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/resources/static/js/bootstrap.js"></script>
</body>
</html>